.c-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 10rem;
}
.c-img-more {
    display: none;
}
.c-member-inactive {
    display: none;
}
#c-room-content {
    max-height: 100%;
    overflow: scroll;
}
#c-room-board {
    max-height: 100%;
    overflow: scroll;
}