.c-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.c-choose {
    margin-bottom: 1rem;
    padding: 1rem;
}
.c-table {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c-message {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
}
.c-room-content{
    background-size: cover;
}
td {
    padding-right: 0rem!important;
}
.mdui-radio{
    padding-left: 1.2rem;
}

.c-team-0{color: #90CCEA;} a.c-team-0{background-color: #000000!important;} .c-team-0 td{color: #90CCEA;}
.c-team-1001,.c-team-1001 td,.c-team-1001 a{color: #90CCEA;} a.c-team-1001{background-color: #90CCEA!important;}
.c-team-1002,.c-team-1002 td,.c-team-1002 a{color: #AD85BA;} a.c-team-1002{background-color: #AD85BA!important;}
.c-team-1003,.c-team-1003 td,.c-team-1003 a{color: #F39800;} a.c-team-1003{background-color: #F39800!important;}
.c-team-1004,.c-team-1004 td,.c-team-1004 a{color: #B1D61B;} a.c-team-1004{background-color: #B1D61B!important;}
.c-team-1005,.c-team-1005 td,.c-team-1005 a{color: #00BE6E;} a.c-team-1005{background-color: #00BE6E!important;}
.c-team-1006,.c-team-1006 td,.c-team-1006 a{color: #41b400;} a.c-team-1006{background-color: #41b400!important;}
.c-team-1007,.c-team-1007 td,.c-team-1007 a{color: #a7b0ba;} a.c-team-1007{background-color: #a7b0ba!important;}
.c-team-1101,.c-team-1101 td,.c-team-1101 a{color: #FF2471;} a.c-team-1101{background-color: #FF2471!important;}
.c-team-1102,.c-team-1102 td,.c-team-1102 a{color: #0CC8C3;} a.c-team-1102{background-color: #0CC8C3!important;}
.c-team-1103,.c-team-1103 td,.c-team-1103 a{color: #006ab7;} a.c-team-1103{background-color: #006ab7!important;}
.c-team-1201,.c-team-1201 td,.c-team-1201 a{color: #AAC913;} a.c-team-1201{background-color: #AAC913!important;}
.c-team-1202,.c-team-1202 td,.c-team-1202 a{color: #FFD700;} a.c-team-1202{background-color: #FFD700!important;}
.c-team-1203,.c-team-1203 td,.c-team-1203 a{color: #ea627c;} a.c-team-1203{background-color: #ea627c!important;}
.c-team-1207,.c-team-1207 td,.c-team-1207 a{color: #5bb1b5;} a.c-team-1207{background-color: #5bb1b5!important;}
.c-team-1301,.c-team-1301 td,.c-team-1301 a{color: #e70095;} a.c-team-1301{background-color: #e70095!important;}
.c-team-1302,.c-team-1302 td,.c-team-1302 a{color: #4f008c;} a.c-team-1302{background-color: #4f008c!important;}
.c-team-1401,.c-team-1401 td,.c-team-1401 a{color: #9d6124;} a.c-team-1401{background-color: #9d6124!important;}
.c-team-1402,.c-team-1402 td,.c-team-1402 a{color: #ff5043;} a.c-team-1402{background-color: #ff5043!important;}