.c-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.c-choose {
    margin-bottom: 1rem;
    padding: 1rem;
}
.c-table {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c-message {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
}
.c-room-content{
    background-size: cover;
}
.mdui-radio{
    padding-left: 1.2rem;
}
.mdui-list-item {
    cursor: auto;
}
#function-kdfj img {
    max-height: 15rem;
}
.mdui-list-item-content {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.mdui-table td {
    padding-right: 0rem!important;
    padding-top: 0.4rem!important;
    padding-bottom: 0.4rem!important;
}