.c-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.c-choose {
    margin-bottom: 1rem;
    padding: 1rem;
}
.c-table {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c-message {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
}
.c-room-content{
    background-size: cover;
}
td {
    padding-right: 0rem!important;
}
.mdui-radio{
    padding-left: 1.2rem;
}
.mdui-list-item {
    cursor: auto;
}
.c-live-button {
    display:none;
}
.c-liveplay .c-live-button {
    display: "";
}
